{
    "parserOptions": {
        "ecmaVersion": 11
    },
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "semi": [2, "never"]
    }
}